.unsplashq10vitrvyum-icon {
  height: 1841px;
  flex: 1;
  position: relative;
  border-radius: var(--br-xl);
  max-width: 100%;
  overflow: hidden;
  object-fit: cover;
}
.frame-child {
  height: 1365px;
  width: 1161px;
  position: absolute;
  margin: 0 !important;
  top: 206px;
  left: 104px;
  border-radius: var(--br-11xl);
  z-index: 1;
}
.unsplashq10vitrvyum-parent {
  width: 100%;
  margin: 0 !important;
  position: absolute;
  top: 137px;
  left: -4px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  height: 100%;
}
.sign-up-background {
  position: absolute;
  height: 100%;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: var(--color-gray-300);
  width: 172px;
  z-index: 1;
}
.sign-up {
  text-decoration: none;
  position: absolute;
  top: 1px;
  left: 13.2px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 162.9px;
  height: 44px;
  white-space: nowrap;
  z-index: 2;
}
.sign-up-button {
  width: 196.1px;
  height: 52px;
  position: relative;
}
.sign-up-form {
  width: 230px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 0 var(--padding-5xs);
  box-sizing: border-box;
}
.home,
.settings,
.wagz {
  text-decoration: none;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  z-index: 1;
}
.wagz {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  font-size: var(--font-size-29xl);
  width: 186px;
  white-space: nowrap;
}
.home,
.settings {
  position: relative;
}
.home {
  height: 49px;
  width: 154px;
  flex-shrink: 0;
}
.settings {
  width: 143px;
}
.settings-menu {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-12xs) var(--padding-xl) 0 0;
  margin-left: -17px;
}
.write {
  text-decoration: none;
  position: relative;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  min-width: 90.1px;
  z-index: 1;
  margin-left: -17px;
}
.blogs,
.links {
  position: absolute;
}
.links {
  top: 12px;
  left: 185px;
  width: 411.1px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
}
.blogs {
  text-decoration: none;
  top: 13px;
  left: 636px;
  line-height: 35px;
  font-weight: 700;
  color: inherit;
  display: inline-block;
  width: 135px;
  height: 35px;
  z-index: 1;
}
.navigation {
  height: 63px;
  width: 771px;
  position: relative;
  max-width: 100%;
  font-size: var(--font-size-13xl);
}
.search-icon {
  height: 40px;
  width: 40px;
  position: relative;
  overflow: hidden;
  flex-shrink: 0;
}
.search-label-container {
  width: calc(100% - 64px);
  border: 0;
  outline: 0;
  background-color: transparent;
  height: 32px;
  flex: 1;
  flex-direction: column;
  justify-content: flex-start;
  padding: var(--padding-5xs) 0 0;
  box-sizing: border-box;
  font-family: var(--small-text);
  font-size: var(--body-text-size);
  color: var(--color-gray-100);
  min-width: 118px;
}
.search-bar,
.search-input,
.search-label-container {
  display: flex;
  align-items: flex-start;
}
.search-input {
  align-self: stretch;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-300);
  flex-direction: row;
  justify-content: flex-start;
  padding: var(--padding-11xs) var(--padding-xs);
  gap: var(--gap-xs);
  z-index: 1;
}
.search-bar {
  width: 276px;
  flex-direction: column;
  justify-content: flex-end;
  padding: 0 0 var(--padding-11xs);
  box-sizing: border-box;
}
.user-profile-image {
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--color-rosybrown-300);
  width: 100%;
  height: 100%;
}
.group-icon {
  position: absolute;
  top: 82px;
  left: 1356.3px;
  width: 31.9px;
  height: 32px;
  z-index: 1;
}
.user-actions {
  height: 100%;
  width: 100%;
  position: absolute;
  margin: 0 !important;
  top: -8px;
  right: 0;
  left: 0;
}
.sign-up-form-parent {
  align-self: stretch;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: flex-start;
  padding: var(--padding-33xl) 0 var(--padding-3xl);
  box-sizing: border-box;
  position: relative;
  max-width: 100%;
}
.name {
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.input-labels,
.name-email-inputs,
.value-inputs {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
}
.input-labels {
  flex-direction: row;
  padding: 0 var(--padding-xl);
}
.name-email-inputs,
.value-inputs {
  align-self: stretch;
}
.value-inputs {
  width: 100%;
  border: 0;
  outline: 0;
  background-color: var(--color-white);
  height: 131px;
  border-radius: var(--br-xl);
  flex-direction: row;
  padding: var(--padding-16xl) var(--padding-32xl) var(--padding-18xl);
  box-sizing: border-box;
  font-family: var(--small-text);
  font-weight: 300;
  font-size: var(--font-size-29xl);
  color: var(--color-black);
  min-width: 250px;
  z-index: 2;
}
.name-email-inputs {
  flex-direction: column;
  padding: 0 0 var(--padding-xs);
  gap: var(--gap-2xs);
}
.email {
  flex: 1;
  position: relative;
  font-weight: 500;
  z-index: 2;
}
.email-wrapper {
  width: 244px;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 0 var(--padding-xs);
  box-sizing: border-box;
}
.frame-item,
.janedoegmailcom {
  position: relative;
  max-width: 100%;
}
.frame-item {
  height: 131px;
  width: 1018px;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
}
.janedoegmailcom {
  width: 760px;
  font-weight: 300;
  display: inline-block;
  flex-shrink: 0;
  white-space: nowrap;
  z-index: 3;
}
.name-email-inputs1,
.rectangle-parent {
  align-self: stretch;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  box-sizing: border-box;
  max-width: 100%;
}
.rectangle-parent {
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: 42px var(--padding-24xl) var(--padding-11xl);
  z-index: 2;
}
.name-email-inputs1 {
  flex-direction: column;
  padding: 0 0 var(--padding-4xs);
  gap: var(--gap-8xs);
}
.frame-inner,
.password {
  position: absolute;
  z-index: 2;
}
.password {
  top: 0;
  left: 4px;
  line-height: 48px;
  font-weight: 500;
  display: inline-block;
  width: 436px;
  height: 48px;
}
.frame-inner {
  top: 43px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 1018px;
  height: 131px;
}
.input-divider {
  margin: 0;
  position: absolute;
  top: 0;
  left: 43px;
  font-size: inherit;
  line-height: 137px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 584px;
  height: 137px;
  z-index: 3;
}
.rectangle-group {
  position: absolute;
  top: 24px;
  left: 0;
  width: 1018px;
  height: 174px;
  font-size: var(--font-size-109xl);
}
.name-email-inputs2 {
  align-self: stretch;
  height: 198px;
  position: relative;
}
.confirm-password {
  position: absolute;
  top: 0;
  left: 20px;
  line-height: 56px;
  font-weight: 500;
  display: inline-block;
  width: 578px;
  height: 56px;
  z-index: 2;
}
.rectangle-div {
  position: absolute;
  top: 43px;
  left: 0;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  width: 1018px;
  height: 131px;
  z-index: 2;
}
.h1 {
  margin: 0;
  position: absolute;
  top: 0;
  left: 43px;
  font-size: inherit;
  line-height: 137px;
  font-weight: 800;
  font-family: inherit;
  display: inline-block;
  width: 584px;
  height: 137px;
  z-index: 3;
}
.rectangle-container {
  position: absolute;
  top: 23px;
  left: 0;
  width: 1018px;
  height: 174px;
  font-size: var(--font-size-109xl);
}
.name-email-inputs3 {
  align-self: stretch;
  height: 197px;
  position: relative;
}
.input-fields {
  align-self: stretch;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: var(--gap-14xl);
  max-width: 100%;
}
.line-div,
.line-wrapper {
  box-sizing: border-box;
  max-width: 100%;
}
.line-div {
  width: 351px;
  height: 1px;
  position: relative;
  border-top: 1px solid var(--color-black);
  flex-shrink: 0;
  debug_commit: 448091;
  z-index: 2;
}
.line-wrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: var(--padding-18xl) 0 0;
  min-width: 283px;
}
.frame-child1,
.or {
  position: relative;
  flex-shrink: 0;
  debug_commit: 448091;
}
.or {
  width: 149px;
  line-height: 54px;
  font-weight: 500;
  display: inline-block;
  z-index: 2;
  margin-left: -67px;
}
.frame-child1 {
  align-self: stretch;
  height: 1px;
  border-top: 1px solid var(--color-black);
  box-sizing: border-box;
  z-index: 3;
}
.divider-container,
.frame-parent,
.line-container {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.line-container {
  width: 350px;
  flex-direction: column;
  padding: var(--padding-18xl) 0 0;
  box-sizing: border-box;
  margin-left: -67px;
}
.divider-container,
.frame-parent {
  flex-direction: row;
}
.frame-parent {
  flex: 1;
  flex-wrap: wrap;
  row-gap: 20px;
}
.divider-container {
  width: 910px;
  padding: 0 55px;
  box-sizing: border-box;
}
.download-button-child {
  height: 131px;
  width: 1018px;
  position: relative;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  display: none;
  max-width: 100%;
}
.download-6-1 {
  height: 107px;
  width: 105px;
  position: relative;
  object-fit: cover;
  z-index: 3;
}
.continue-with-google {
  align-self: stretch;
  position: relative;
  font-weight: 500;
  z-index: 3;
}
.google-login {
  width: 554px;
  flex-direction: column;
  padding: var(--padding-7xl) 0 0;
  box-sizing: border-box;
}
.divider-container-parent,
.download-button,
.google-login,
.modal-content {
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
}
.download-button {
  align-self: stretch;
  border-radius: var(--br-xl);
  background-color: var(--color-white);
  flex-direction: row;
  padding: var(--padding-5xs) 127px var(--padding-base);
  box-sizing: border-box;
  gap: var(--gap-3xl);
  z-index: 2;
}
.divider-container-parent,
.modal-content {
  flex-direction: column;
}
.divider-container-parent {
  align-self: stretch;
  gap: var(--gap-12xl);
}
.modal-content {
  width: 1018px;
  gap: 84px;
}
.homepage,
.signup-modal {
  display: flex;
  align-items: flex-start;
  box-sizing: border-box;
}
.signup-modal {
  width: 1384px;
  flex-direction: row;
  justify-content: center;
  padding: 0 var(--padding-xl);
  max-width: 100%;
  font-size: var(--font-size-29xl);
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  overflow: hidden;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 0 211px;
  gap: 282px;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  font-size: var(--font-size-17xl);
  color: var(--color-black);
  font-family: var(--small-text);
}
@media screen and (max-width: 1025px) {
  .modal-content {
    gap: var(--gap-23xl);
  }
}
@media screen and (max-width: 975px) {
  .sign-up {
    font-size: var(--font-size-10xl);
  }
  .email,
  .janedoegmailcom,
  .name,
  .wagz {
    font-size: var(--font-size-19xl);
  }
  .rectangle-parent {
    padding-left: var(--padding-2xl);
    padding-right: var(--padding-2xl);
    box-sizing: border-box;
  }
  .password {
    font-size: var(--font-size-19xl);
    line-height: 38px;
  }
  .input-divider {
    font-size: var(--font-size-32xl);
    line-height: 82px;
  }
  .confirm-password {
    font-size: var(--font-size-19xl);
    line-height: 45px;
  }
  .h1 {
    font-size: var(--font-size-32xl);
    line-height: 82px;
  }
  .or {
    font-size: var(--font-size-19xl);
    line-height: 43px;
  }
  .divider-container {
    padding-left: var(--padding-8xl);
    padding-right: var(--padding-8xl);
    box-sizing: border-box;
  }
  .continue-with-google {
    font-size: var(--font-size-19xl);
  }
  .download-button {
    flex-wrap: wrap;
    padding-left: var(--padding-44xl);
    padding-right: var(--padding-44xl);
    box-sizing: border-box;
  }
}
@media screen and (max-width: 725px) {
  .input-fields {
    gap: var(--gap-base);
  }
  .download-button {
    padding-left: var(--padding-12xl);
    padding-right: var(--padding-12xl);
    box-sizing: border-box;
  }
  .divider-container-parent {
    gap: var(--gap-mini);
  }
  .modal-content {
    gap: var(--gap-2xl);
  }
  .homepage {
    gap: 141px;
  }
}
@media screen and (max-width: 450px) {
  .sign-up {
    font-size: var(--font-size-3xl);
  }
  .email,
  .janedoegmailcom,
  .name,
  .password,
  .wagz {
    font-size: var(--font-size-10xl);
  }
  .password {
    line-height: 29px;
  }
  .input-divider {
    font-size: var(--font-size-13xl);
    line-height: 55px;
  }
  .confirm-password {
    font-size: var(--font-size-10xl);
    line-height: 34px;
  }
  .h1 {
    font-size: var(--font-size-13xl);
    line-height: 55px;
  }
  .or {
    line-height: 32px;
  }
  .continue-with-google,
  .or {
    font-size: var(--font-size-10xl);
  }
  .homepage {
    gap: var(--gap-51xl);
  }
}