.homepage-child {
  position: absolute;
  top: -8px;
  left: 0;
  background-color: var(--color-rosybrown-300);
  width: 1411px;
  height: 145px;
}

.unsplashq10vitrvyum-icon3 {
  position: absolute;
  top: 137px;
  left: -4px;
  border-radius: var(--br-xl);
  width: 1411px;
  height: 548px;
  object-fit: cover;
}
.blogs5,
.home9,
.settings5,
.wagz9,
.write8 {
  position: absolute;
  top: 64px;
  left: 736px;
  display: inline-block;
  width: 90.1px;
  height: 34.3px;
}
.blogs5,
.home9,
.settings5,
.wagz9 {
  left: 415px;
  width: 154px;
  height: 49px;
}
.blogs5,
.settings5,
.wagz9 {
  top: 65px;
  left: 866px;
  width: 141px;
  height: 35px;
}
.settings5,
.wagz9 {
  left: 552px;
  width: 143px;
  height: 45px;
}
.wagz9 {
  top: 10px;
  left: 230px;
  font-size: var(--font-size-29xl);
  width: 186px;
  height: 63px;
}
.images-5-icon5 {
  position: absolute;
  top: 1692px;
  left: 1312px;
  width: 115.4px;
  height: 94.8px;
  object-fit: cover;
}
/* .homepage-item {
  position: absolute;
  top: 55px;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  width: 172px;
  height: 52px;
} */
.sign-up4 {
  position: absolute;
  height: 2.72%;
  width: 11.55%;
  top: 3.04%;
  left: 0.94%;
  font-size: 36px;
  display: inline-block;
  border: none;
  border-radius: 20px;
  background-color: antiquewhite;

}
.label3,
.search-icon7 {
  position: relative;
  overflow: hidden;
}
.search-icon7 {
  width: 40px;
  height: 40px;
  flex-shrink: 0;
}
.label3 {
  flex: 1;
  line-height: 24px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.search-input5 {
  position: absolute;
  top: 65px;
  left: 1001px;
  border-radius: var(--br-5xs);
  background-color: var(--color-white);
  border: 1px solid var(--color-gainsboro-300);
  box-sizing: border-box;
  width: 276px;
  height: 48px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  padding: var(--padding-5xs) var(--padding-base) var(--padding-5xs)
    var(--padding-xs);
  gap: var(--gap-xs);
  font-size: var(--body-text-size);
  color: var(--color-gray-100);
}
.group-icon5 {
  position: absolute;
  height: 1.74%;
  width: 2.26%;
  top: 4.02%;
  right: 3.74%;
  bottom: 94.24%;
  left: 94%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.recent-posts {
  position: absolute;
  top: 727px;
  left: 507px;
  font-size: var(--font-size-29xl);
  display: inline-block;
  width: 403px;
  height: 49px;
}
.homepage-inner {
  position: absolute;
  top: 815px;
  left: 12px;
  border-radius: var(--br-11xl);
  background-color: var(--color-rosybrown-300);
  width: 432px;
  height: 415px;
}
.unsplashmez3pofgs-k-icon3 {
  position: absolute;
  top: 829px;
  left: 28px;
  border-radius: var(--br-231xl);
  width: 76px;
  height: 68px;
  object-fit: cover;
}
.louise3 {
  position: absolute;
  top: 842px;
  left: 133px;
  display: inline-block;
  width: 149.5px;
  height: 21.4px;
}
.unsplashyrtflrlo2dq-icon6 {
  position: absolute;
  top: 911px;
  left: 52px;
  border-radius: var(--br-3xs);
  width: 348px;
  height: 210px;
  object-fit: cover;
}
.vector-icon11,
.vector-icon12 {
  position: absolute;
  height: 1.83%;
  width: 2.41%;
  top: 61.43%;
  right: 69.74%;
  bottom: 36.74%;
  left: 27.85%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon12 {
  height: 2.26%;
  width: 3.46%;
  right: 76.41%;
  bottom: 36.31%;
  left: 20.13%;
}
.div,
.food1 {
  position: absolute;
  display: inline-block;
}
.food1 {
  top: 1135px;
  left: 55px;
  font-weight: 500;
  width: 139px;
  height: 33px;
}
.div {
  top: 876px;
  left: 286px;
  font-size: var(--font-size-5xl);
  width: 143.1px;
  height: 9.3px;
}
.homepage-child1,
.homepage-child2 {
  position: absolute;
  top: 815px;
  left: 505px;
  border-radius: var(--br-11xl);
  background-color: var(--color-rosybrown-300);
  width: 432px;
  height: 415px;
}
.homepage-child2 {
  top: 808px;
  left: 970px;
}
.unsplashifgrcqhznqg-icon3,
.unsplashyrtflrlo2dq-icon7 {
  position: absolute;
  top: 924px;
  left: 559px;
  border-radius: var(--br-3xs);
  width: 345px;
  height: 218px;
  object-fit: cover;
}
.unsplashifgrcqhznqg-icon3 {
  top: 829px;
  left: 539px;
  border-radius: var(--br-231xl);
  width: 76px;
  height: 68px;
}
.caleb3 {
  top: 846px;
  left: 649px;
  width: 108.9px;
  height: 13.4px;
}
.caleb3,
.div1,
.music1 {
  position: absolute;
  display: inline-block;
}
.div1 {
  top: 881px;
  left: 767px;
  font-size: var(--font-size-5xl);
  width: 143.1px;
  height: 9.3px;
}
.music1 {
  top: 1152px;
  left: 563px;
  font-weight: 500;
  width: 179.4px;
  height: 40.1px;
}
.vector-icon13,
.vector-icon14 {
  position: absolute;
  height: 2.02%;
  width: 3.29%;
  top: 62.41%;
  right: 43.42%;
  bottom: 35.57%;
  left: 53.3%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon14 {
  height: 1.83%;
  width: 2.19%;
  top: 62.52%;
  right: 37.14%;
  bottom: 35.65%;
  left: 60.67%;
}
.unsplash7yvzyzeitc8-icon3,
.unsplashp6uqpnyxci4-icon3 {
  position: absolute;
  top: 924px;
  left: 998px;
  border-radius: var(--br-3xs);
  width: 362px;
  height: 213px;
  object-fit: cover;
}
.unsplash7yvzyzeitc8-icon3 {
  top: 825px;
  border-radius: var(--br-231xl);
  width: 76px;
  height: 68px;
}
.amar3 {
  top: 832px;
  left: 1095px;
  width: 123.9px;
  height: 28px;
}
.amar3,
.books1,
.div2 {
  position: absolute;
  display: inline-block;
}
.div2 {
  top: 883px;
  left: 1232px;
  font-size: var(--font-size-5xl);
  width: 143.1px;
  height: 9.3px;
}
.books1 {
  top: 1143px;
  left: 1006px;
  font-weight: 500;
  width: 158.1px;
  height: 32.1px;
}
.vector-icon15,
.vector-icon16 {
  position: absolute;
  height: 2.02%;
  width: 3.29%;
  top: 62.19%;
  right: 11.67%;
  bottom: 35.79%;
  left: 85.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon16 {
  height: 1.83%;
  width: 2.19%;
  top: 62.03%;
  right: 4.4%;
  bottom: 36.14%;
  left: 93.41%;
}
.homepage-child3,
.homepage-child4,
.homepage-child5 {
  position: absolute;
  top: 1277px;
  left: 12px;
  border-radius: var(--br-11xl);
  background-color: var(--color-rosybrown-300);
  width: 432px;
  height: 415px;
}
.homepage-child4,
.homepage-child5 {
  top: 1293px;
  left: 505px;
}
.homepage-child5 {
  top: 1277px;
  left: 970px;
}
.unsplashjoinr2eknvy-icon3,
.unsplasht2sai-aqipi-icon3 {
  position: absolute;
  top: 1392px;
  left: 33px;
  border-radius: var(--br-3xs);
  width: 363px;
  height: 217px;
  object-fit: cover;
}
.unsplashjoinr2eknvy-icon3 {
  top: 1299px;
  border-radius: var(--br-231xl);
  width: 76px;
  height: 68px;
}
.anna3,
.div3 {
  position: absolute;
  top: 1299px;
  left: 117px;
  display: inline-block;
  width: 85.5px;
  height: 17.4px;
}
.div3 {
  top: 1350px;
  left: 253px;
  font-size: var(--font-size-5xl);
  width: 143px;
  height: 17px;
}
.vector-icon17,
.vector-icon18 {
  position: absolute;
  height: 2.26%;
  width: 3.46%;
  top: 88%;
  right: 81.84%;
  bottom: 9.74%;
  left: 14.71%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon18 {
  height: 1.83%;
  width: 2.41%;
  top: 88.1%;
  right: 71.65%;
  bottom: 10.07%;
  left: 25.94%;
}
.art1 {
  position: absolute;
  top: 1629px;
  left: 50px;
  font-size: var(--font-size-5xl);
  font-weight: 500;
  display: inline-block;
  width: 215.8px;
  height: 42.7px;
}
.unsplash7k91oudyaq0-icon1,
.unsplashznwlx5sw9a4-icon1 {
  position: absolute;
  top: 1382px;
  left: 519px;
  border-radius: var(--br-3xs);
  width: 391px;
  height: 234px;
  object-fit: cover;
}
.unsplashznwlx5sw9a4-icon1 {
  top: 1307px;
  border-radius: var(--br-231xl);
  width: 76px;
  height: 68px;
}
.culture1,
.div4,
.jane1 {
  position: absolute;
  top: 1307px;
  left: 609px;
  display: inline-block;
  width: 121.8px;
  height: 16px;
}
.culture1,
.div4 {
  top: 1345px;
  left: 762px;
  font-size: var(--font-size-5xl);
  width: 143.1px;
  height: 9.3px;
}
.culture1 {
  top: 1629px;
  left: 525px;
  font-weight: 500;
  width: 151.7px;
  height: 16px;
}
.vector-icon19,
.vector-icon20 {
  position: absolute;
  height: 2.26%;
  width: 3.46%;
  top: 88.48%;
  right: 43.95%;
  bottom: 9.26%;
  left: 52.59%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon20 {
  height: 1.83%;
  width: 2.41%;
  top: 88.21%;
  right: 35.93%;
  bottom: 9.96%;
  left: 61.66%;
}
.unsplashkvg2dqtak7c-icon1,
.unsplashxjxwbfso2f0-icon1 {
  position: absolute;
  top: 1382px;
  left: 1012px;
  border-radius: var(--br-3xs);
  width: 369px;
  height: 232px;
  object-fit: cover;
}
.unsplashkvg2dqtak7c-icon1 {
  top: 1299px;
  left: 992px;
  border-radius: var(--br-181xl);
  width: 76px;
  height: 68px;
}
.div5,
.tech1,
.zander1 {
  position: absolute;
  top: 1296px;
  left: 1076px;
  display: inline-block;
  width: 143.1px;
  height: 24px;
}
.div5,
.tech1 {
  top: 1345px;
  left: 1206px;
  font-size: var(--font-size-5xl);
  height: 9.3px;
}
.tech1 {
  top: 1625px;
  left: 1025px;
  font-weight: 500;
  width: 145.3px;
  height: 10.7px;
}
.vector-icon21,
.vector-icon22 {
  position: absolute;
  height: 2.26%;
  width: 3.46%;
  top: 88.1%;
  right: 11.5%;
  bottom: 9.64%;
  left: 85.05%;
  max-width: 100%;
  overflow: hidden;
  max-height: 100%;
}
.vector-icon22 {
  height: 1.83%;
  width: 2.41%;
  top: 88%;
  right: 3.33%;
  bottom: 10.17%;
  left: 94.26%;
}
.homepage {
  width: 100%;
  position: relative;
  background-color: var(--color-white);
  height: 1841px;
  overflow: hidden;
  text-align: left;
  font-size: var(--font-size-13xl);
  color: var(--color-black);
  font-family: var(--small-text);
}
